[Desktop Entry]
Version=1.0
Type=Application
TryExec=qubes-vm-settings
Exec=qubes-vm-settings %VMNAME%
Icon=qubes-appmenu-select
Terminal=false
Name=%VMNAME%: Qube Settings
GenericName=%VMNAME%: Qube Settings
StartupNotify=false
Categories=System;X-Qubes-VM;
