[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
X-Qubes-VmName=%VMNAME%
Icon=%VMDIR%/apps.icons/xterm.png
Name=%VMNAME%: XTerm
GenericName=%VMNAME%: Terminal
Comment=standard terminal emulator for the X window system
Categories=System;TerminalEmulator;X-Qubes-VM;
Exec=qvm-run -q -a --service -- %VMNAME% qubes.StartApp+xterm
X-Qubes-DispvmExec=qvm-run -q -a --service --dispvm=%VMNAME% -- qubes.StartApp+xterm
